<div class="container">
<footer>
   

<div class="row">


<div class="col-sm-4">
  <h3>Training & TA</h3>
  <hr />

  <h4>Training</h4>
  <ul>
  <li><a href="/providertraining/">Current Trainings</a></li>
<li><a href="/archives.html">Webinar Archives</a></li>
  </ul>


<h4>Technical Assistance</h4>
<ul>
<li><a href="ta_request.html">Overview</a></li>
<li><a href="/files/2014_Employment_First_TA_Application.doc">Apply</a> (doc)</li>
</ul>
<h4>Staff Development Practices and Resources</h4>
<!--<li>Publications</li>-->
<ul>
<li><a href="certs.html">Certification Options</a></li>
<li><a href="trs.html">Training Resources</a></li>
</ul>
<!--<h3>Webinar Archives</h3>-->
</div>
<div class="col-sm-4">

<!--<img src="img/4circles.jpg" />  <br /><br />-->
<h3>Tools & Resources</h3>
<hr />
<ul>
<li><a href="/pages/fce.html">Foundations of Community Employment</a></li>
<li><a href="/pages/cp.html">Career Planning</a></li>
<li><a href="/pages/jd.html">Job Development</a></li>
<li><a href="/pages/ncc.html">Networking & Community Connections</a></li>
<li><a href="/pages/jc.html">Job Coaching</a></li>
<li><a href="/pages/acc.html">Accommodations</a></li>
<li><a href="/pages/bens.html">Benefits</a></li>
<li><a href="/pages/ada.html">ADA & Employment Law</a></li>
<li><a href="/pages/pubp.html">Public Policy</a></li>
<li><a href="/pages/ppm.html">Program Development & Management</a></li>
</ul>

</div>

<div class="col-sm-4">
  <p>EmploymentFirst is presented by the Institute for Community Inclusion at the University of Massachusetts Boston and is funded by the Massachusetts Department of Developmental Services.
      <p>
<p><img src="/img/icigreendark.gif" /> * <img src="/img/UMB_blue.png" style="border:white 1px solid;" />
</div>

</div>

</footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
