<footer>
   

<div class="row">


<div class="col-sm-4">
  <h3>Trainings & Webinars</h3>
  <hr />

  <h4>Training</h4>
  <ul>
  <li><a href="/providertraining/">Current Trainings</a></li>
<li><a href="/archives.html">Webinar Archives</a></li>
  </ul>


<h4>Technical Assistance</h4>
<ul>
<li><a href="/pages/ta_request.html">Overview</a></li>
<li><a href="/files/2014_Employment_First_TA_Application.doc">Apply</a> (doc)</li>
</ul>
<h4>Staff Development Practices and Resources</h4>
<!--<li>Publications</li>-->
<ul>
<li><a href="/pages/certs.html">Certification Options</a></li>
<li><a href="/pages/trs.html">Training Resources</a></li>
</ul>
<!--<h3>Webinar Archives</h3>-->
</div>
<div class="col-sm-4">

<!--<img src="img/4circles.jpg" />  <br /><br />-->
<h3>Tools & Resources</h3>
<hr />
<ul>
<li><a  href="/pages/resource_lib.html">Resource Library Home</a></li>
  <li><a  href="/pages/acc.html">Accommodations</a></li>
  <li><a  href="/pages/bens.html">Benefits</a></li>
  <li><a  href="/pages/community-based-day-supports.html">Community-Based Day Supports</a></li>
  <li><a  href="/pages/quality-employment-practices.html"><i class="fas fa-angle-down"></i>Quality Employment Practices </a></li>
  <li><a class="lilright" href="/pages/quality-employment-practices.html#cp"> <i class="fas fa-angle-right"></i> Career Planning</a></li>
  <li><a class="lilright" href="/pages/quality-employment-practices.html#jc"> <i class="fas fa-angle-right"></i> Job Coaching</a></li>
  <li><a class="lilright" href="/pages/quality-employment-practices.html#jd"> <i class="fas fa-angle-right"></i> Job Development</a></li>
  <li><a  href="/pages/ada.html">Policy & Law</a></li>
  <li><a  href="/pages/tech_rs.html">Technology & Remote Supports</a></li>
  <li><a  href="/pages/transportation.html">Transportation</a></li>
 
  <li><a  href="/pages/transition-from-school-to-work.html">Transition from School to Adult Work</a></li>
  </li>
</ul>

</div>

<div class="col-sm-4">
  <p>EmploymentFirst is presented by the Institute for Community Inclusion at the University of Massachusetts Boston and is funded by the Massachusetts Department of Developmental Services.
      <p>
<p><img src="/img/icigreendark.gif" /> * <img src="/img/UMB_blue.png" style="border:white 1px solid;" />
</div>

</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/jc/jc.js"></script>