<div class="row">
            <div class="col"><center>
                <img src="/img/employma200.png" style="max-width:150px;" alt="Employment First Massachusetts" />
            </center>
            </div>
            <div class="col-6"><center>
                <h4 class="tagline">Promoting inclusive employment in Massachusetts </h4></center>
            </div>
            <div class="col">
                <div style="color:black;">
                    <script>
                      (function() {
                        var cx = '017121017012734404180:fxgisatsprg';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search linktarget="_parent"></gcse:search>
                  <hr>
                  <a type="button" class="btn btn-info"
                    target="_new" href="http://visitor.r20.constantcontact.com/d.jsp?llr=vnjp6sn6&p=oi&m=1011025946037&sit=6ra65hd5&f=914cdf22-064f-4931-9c9b-7ce1f156217b" class="btn btn-default">subscribe to our E-News</a>
                  <p><a href="emails.html">Newsletter archive.</a></p>
               </div>
            </div>
          </div>