<div id="tr_table">
  <h2>Current Trainings</h2>
  <p>
    All in-person trainings are cancelled until further notice. The following
    online courses are currently available.
  </p>


  <br />
  <span>
    <div class="row tr">
      <div class="col col-sm">
        <p>Tuesday, Dec 13, 2022 </p>
        <p>9:30-10:30am EDT</p>
      </div>
      <div class="col-7 pipes">
        <h4>
          <a
            href="https://www.eventbrite.com/e/webinar-the-30-day-placement-plan-putting-the-career-plan-into-action-tickets-469142366447" target="_blank">The 30-Day Placement Plan: Putting the Career Plan into Action</a
          >
        </h4>
        <p>
          Customized career planning is a crucial process for finding meaningful and fulfilling careers for individuals. How can employment professionals stay organized and keep stakeholders working toward the job seeker’s career goals? Utilizing a 30-day placement plan is a great option. This webinar discusses the components
of a 30-day placement plan, when and why to implement one, and how to keep stakeholders engaged in
the process. The practical strategies shared by the presenters are immediately relevant to employment professionals and help provide structure and direction for job seekers. Sample case studies are included, and questions from participants are welcome.</p>
<p>
<strong>Presenters</strong> Lara Enein and Kelly Wanzer from the Institute for Community Inclusion at UMass Boston
        </p>

        <p><b>Cost:</b> FREE</p>
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Webinar</div>
    </div>
  </span>
 
  <span>
    <div class="row tr">
      <div class="col col-sm">
        <p>December 1, 2022
          <br>Thru<br>
          January 13, 2023 </p>
      
      </div>
      <div class="col-7 pipes">
        <h4>
          <a
            href="https://www.eventbrite.com/e/strategies-for-discovery-and-career-planning-december-2022-registration-469079197507" target="_blank">The Strategies for Discovery and Career Planning</a
          >
        </h4>
        <p>
          This course will focus on strategies used to assess the job seeker’s employment goals, abilities, interests, and capacities. Participants will learn how to coordinate and implement person-centered planning, identify personal and family networks, develop vocational profiles, and schedule and evaluate situational assessments. We will also discuss how to use Discovery to engage the job seeker in identifying their vocational goals and maximizing the information you learn about them.
        </p>

    

        <p><b>Cost:</b> FREE</p>
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Online</div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col col-sm">Ongoing</div>
      <div class="col-7 pipes">
        <h4>
          <a href="/pages/tr-foundations.html"
            >Foundations of Community Employment</a
          >
        </h4>
        <p>
          This course is a great starting point for new staff to gain a solid foundation for their work in the field and for current staff to build on the skills and knowledge they already have. Staff will get an overview of the past and present community employment, understand the social, political, and economic changes leading to the ex- pansion of opportunities for individuals with disabilities and learn how to collaborate with team stakeholders</p>
<p>Please contact Lara Enein at <a href="mailto:lara.enein@umb.edu">lara.enein@umb.edu</a> with any questions.
        </p>

        <p><b>Cost:</b> FREE</p>
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Online</div>
    </div>
  </span>
  <br> 
  <!--
  <span>
    <div class="row tr">
      <div class="col col-sm">
        <p>Fourth Wednesday of every month</p>
        <p>12pm-1pm</p>
      </div>
      <div class="col-7 pipes">
        <h4>
          <a
            href="https://communityinclusion.zoom.us/meeting/register/tJ0rc-CqqjMuHdRgW601oOBuS_PjlISIGa43" target="_blank">Growing Older : Ourselves and Our Children!</a
          >
        </h4>
        <p>
          Is your Family Support Center working with older caregivers? Since
          COVID the notion of Future Planning has been a concern for many
          families- not only for the aging caregiver but for their adult sons
          and daughters. Kerry Mahoney from The Arc of Massachusetts will
          present how the Charting the LifeCourse quick guide to Life
          Experiences Aging Booklet can help facilitate this discussion and take
          action.
        </p>

        <p>
          Monthly Tools in Action webinars take place from 12pm-1pm on the
          fourth Wednesday of every month.
        </p>

        <p><b>Cost:</b> FREE</p>
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Webinar</div>
    </div>
  </span>-->

</div>
