<div class="container" id="tr_table">
  <h2>Fall 2020 Webinar Series </h2>
  <p>All in-person trainings are cancelled until further notice. The following online courses are currently available.
  </p>

  <span>
    <div class="row tr">
      <div class="col col-sm">
        <span>
          <div class="row tr">
            <div class="col col-sm">
              Wed February 17 &
              <Br>Wed February 24
              <br>9:00-12pm EST
            </div>
            <div class="col-7 pipes">
              <h5><a target="_blank"
                  href="https://communityinclusion.zoom.us/meeting/register/tJYlc-ygrTkqHNK2Uw31TH56qpMQyTt4svvr">Strategies
                  for Discovery and Career Planning</a> </h5>
              <p>using their time well to prepare and plan for entering or re-entering the workforce. Participants will
                learn how to coordinate and implement person-centered planning strategies during these challenging
                times. This 2-session online training series will cover strategies to assess job seeker’s employment
                goals, abilities, interests and capacities.</p>
              <p><b>Cost:</b> FREE</p>
            </div>
            <div class="col col-sm">
              <i class="fas fa-desktop"></i> Online
            </div>
          </div>
        </span>



        <span>
          <div class="row tr">
            <div class="col col-sm">
              Ongoing
            </div>
            <div class="col-7 pipes">
              <h5><a href="/pages/tr-foundations.html">Foundations of Community Employment</a> </h5>
              <p>This course begins with an overview of community employment, including current social, political, and
                economic
                changes that are leading to expansion of opportunities for individuals with disabilities.</p>
              <p>If you are working towards your ACRE Certificate or would prefer to have more time to review this
                content,
                register for this online course <i>instead</i> of the webinar.
                <p><b>Cost:</b> FREE</p>
            </div>
            <div class="col col-sm">
              <i class="fas fa-desktop"></i> Online
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>