<div id="tr_table">
  <h2>Current Trainings</h2>
  
  

  <span>
    <div class="row tr">
      <div class="col col-sm">Wednesday, January 15;<br> Wednesday, January 22;<br> 2025<br>
        9am-12pm EST</div>
      <div class="col-7 pipes">
        <h4>
          <a href="https://www.eventbrite.com/e/job-coaching-and-teaching-strategies-2-sessions-registration-1075847652289" target="_blank"
            >Job Coaching and Teaching Strategies (2 sessions)</a
          >
        </h4>
        <p>
          Supporting individuals to be successful at their jobs is not as easy as it sounds.  It requires many skills including, excellent communication, maintaining relationships with multiple team members (including employers), knowledge about accommodations and assistive technology, and effectively assisting individuals with various disabilities to learn and master new tasks.  Join us for this interactive virtual 2-session training to learn best practices and strategies needed to support individuals in meeting their employment goals. Topics include: the role of the job coach, natural supports and social inclusion, systematic instruction, job maintenance and self-management techniques, as well as fading and behavioral support strategies.</p> 

          <p><em>Participants should attend both sessions to get the most out of this training series. Letters of completion will be provided to those who attend both training sessions.  </em></p>
          
          
          <p>Location: Zoom (email with training details and zoom link will be sent out the week of the event date) </p>
        <p><a href="https://www.eventbrite.com/e/job-coaching-and-teaching-strategies-2-sessions-registration-1075847652289" target="_blank"
          ><strong>Register Today!</strong></a></p>
      
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Online
        <p><b>Cost:</b> FREE</p></div>
    </div>
  </span>
  <br> 

  <span>
    <div class="row tr">
      <div class="col col-sm">
        <p>
          Session 1: September 11<br>
          Session 2: October 9<br>
          Session 3: November 13<br>
        Session 4: December 11<br>
        Session 5: January 8<br>
          <strong>Session 6: Feb 12</strong><br>
          Session 7: March 12<br>
          Session 8: April 9<br>
          Session 9: May 14<br>
          Session 10: June 11<br>
          Session 11: July 9<br>
      <p>
        12-1 PM EST</div>
      <div class="col-7 pipes">
        <h4>
          <a href="https://communityinclusion.zoom.us/webinar/register/WN_H8JoipwNQMyDvPp6JDmrNQ#/registration" target="_blank"
            >LifeCourse in Action: Mapping Relationships with the CTLC Tools     </a
          >
        </h4>

<p>Join us on Wednesday, February 12 at 12pm for an interactive session on relationship mapping using Charting the LifeCourse (CtLC) tools. Nancy Willey will show how families can use this tool to bring peace of mind as they go forward in future planning. This tool can help provide reassurance to loved ones and families and can expand across the lifespan as our loved ones have new experiences, jobs, and community involvement. </p>
  <p>Presenter: Nancy Willey, Family Support Manager, Berkshire County Arc </p>
  
      
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Online
        <p><b>Cost:</b> FREE</p></div>
    </div>
  </span>
  <br> 

 
  <span>
    <div class="row tr">
      <div class="col col-sm">Ongoing</div>
      <div class="col-7 pipes">
        <h4>
          <a href="/pages/tr-foundations.html" target="_blank"
            >Foundations of Community Employment</a
          >
        </h4>
        <p>
          This course is a great starting point for new staff to gain a solid foundation for their work in the field and for current staff to build on the skills and knowledge they already have. Staff will get an overview of the past and present community employment, understand the social, political, and economic changes leading to the expansion of opportunities for individuals with disabilities and learn how to collaborate with team stakeholders</p>
<p>Please contact Lara Enein at <a href="mailto:lara.enein@umb.edu">lara.enein@umb.edu</a> with any questions.
        </p>

      
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Online
        <p><b>Cost:</b> FREE</p></div>
    </div>
  </span>
  <br> 
  <!--
  <span>
    <div class="row tr">
      <div class="col col-sm">
        <p>Fourth Wednesday of every month</p>
        <p>12pm-1pm</p>
      </div>
      <div class="col-7 pipes">
        <h4>
          <a
            href="https://communityinclusion.zoom.us/meeting/register/tJ0rc-CqqjMuHdRgW601oOBuS_PjlISIGa43" target="_blank">Growing Older : Ourselves and Our Children!</a
          >
        </h4>
        <p>
          Is your Family Support Center working with older caregivers? Since
          COVID the notion of Future Planning has been a concern for many
          families- not only for the aging caregiver but for their adult sons
          and daughters. Kerry Mahoney from The Arc of Massachusetts will
          present how the Charting the LifeCourse quick guide to Life
          Experiences Aging Booklet can help facilitate this discussion and take
          action.
        </p>

        <p>
          Monthly Tools in Action webinars take place from 12pm-1pm on the
          fourth Wednesday of every month.
        </p>

        <p><b>Cost:</b> FREE</p>
      </div>
      <div class="col col-sm"><i class="fas fa-desktop"></i> Webinar</div>
    </div>
  </span>-->

</div>
